<header>
    <nav class="site-nav">
        <a class="main-item" href="{{ site.baseurl }}/">zEdit</a>
        <a href="#">About</a>
        <a href="/docs">Documentation</a>
        <div class="external-links">
            <a href="http://github.com/matortheeternal/zEdit" title="GitHub Repository">
                {% include icon-github.svg %}
            </a>
            <a href="https://discord.gg/GUfRdpT" title="Discord Server">
                {% include icon-discord.svg %}
            </a>
        </div>
    </nav>
</header>
